* {
  background-color: #6c757d;
  font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
a:hover {
  color: yellow
}
header {
  text-align: center;
  font-size: 40px;  
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
}
#Logo {
  width: 100px;
  margin-right: 20px;
}
.main-images {
width: 100%;
margin: 10px 0px 10px 0px;
}
.left-nav, .right-nav {
  display: flex;
  align-items: center;
}
.left-nav {
  justify-content: flex-start;
  gap:  25px;
}
.right-nav {
  justify-content: flex-end;
  gap: 25px;
}
.footer1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.footer1divs {
  flex: 0 1 auto;
  padding: 10px;
}

.footer2 {
  text-align: center;  
}
.footer2 ul {
  align-items: center;
  text-align: center;  
  display: flex;
  list-style: none;
  gap:  25px;
}
.socialmedia {
  width: 60px;
  margin-right: 20px;
}
.socialmedia:hover {
  border-style: dotted;
}